<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Some html title</h1>
    <div>
		<!-- loops and conditionals with latte -->
		<ul n:if="$foo">
			<li n:foreach="$foo as $item">{$item|capitalize}</li>
		</ul>
    </div>
</body>
</html>
